## task 4.8

In [2]:
#importaning all inforation 

import pandas as pd
import numpy as np
import os

In [3]:
path = r'/Users/thomaskimber/Desktop/Instacart Basket Analysis'

In [4]:
ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'ords_prods_merge_4.8.pkl'))

In [5]:
ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

The difference between the two is small but important, with the larger set of data most moved by 1 or 2

In [6]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,hour_of_the_day_for_order,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Most orders,32,Regular customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Average orders,32,Regular customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest days,Average orders,5,New customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Least busiest days,Average orders,3,New customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busiest days,Average orders,3,New customer

In [8]:
#grouping by the loyalty flag and seeing what the mean of each group is by price 
ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean']})

                     prices
                       mean
loyalty_flag
Loyal customer    10.386336
New customer      13.294670
Regular customer  12.495717

In [17]:
#creating a group on user Id and their mean spend per order
user_avg_price = ords_prods_merge.groupby('user_id')['prices'].mean()

In [18]:
#merge that back into the data frame on user id to show their mean spend 
ords_prods_merge = ords_prods_merge.merge(user_avg_price.rename('avg_price'), on='user_id')

In [11]:
ords_prods_merge.head()

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,hour_of_the_day_for_order,days_since_prior_order,add_to_cart_order,reordered,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,3.0,5,0,both,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,20.0,1,1,both,Mid-range product,Regularly busy,Average orders,32,Regular customer,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,6.0,20,0,both,Mid-range product,Busiest days,Average orders,5,New customer,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,NaN,10,0,both,Mid-range product,Least busiest days,Average orders,3,New customer,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,9.0,11,1,both,Mid-range product,Least busiest days,Average orders,3,New customer,4.972414

In [12]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] < 10, 'spending_flag'] = 'Low spender'

In [13]:
ords_prods_merge.loc[ords_prods_merge['avg_price'] >= 10, 'spending_flag'] = 'High spender'

In [19]:
ords_prods_merge.head(5)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,hour_of_the_day_for_order,...,reordered,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price_x,spending_flag,avg_price_y
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,0,both,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,6.935811
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,1,both,Mid-range product,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,6.935811
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,0,both,Mid-range product,Busiest days,Average orders,5,New customer,7.930208,Low spender,7.930208
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,0,both,Mid-range product,Least busiest days,Average orders,3,New customer,4.972414,Low spender,4.972414
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,1,both,Mid-range product,Least busiest days,Average orders,3,New customer,4.972414,Low spender,4.972414

In [16]:
#checking how many there is of high and low 
ords_prods_merge['spending_flag'].value_counts(dropna = False)

spending_flag
Low spender     31770614
High spender      634245
Name: count, dtype: int64

In [20]:
# Calculating median days since last order using user id
user_median_days = ords_prods_merge.groupby('user_id')['days_since_prior_order'].median()

In [21]:
# adding that to dataframe
ords_prods_merge = ords_prods_merge.merge(user_median_days.rename('median_days'), on='user_id')

In [23]:
#chacking the new column is there 
ords_prods_merge.head(5)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,hour_of_the_day_for_order,...,_merge,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price_x,spending_flag,avg_price_y,median_days
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,both,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,6.935811,8.0
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,both,Mid-range product,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,6.935811,8.0
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,both,Mid-range product,Busiest days,Average orders,5,New customer,7.930208,Low spender,7.930208,8.0
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,both,Mid-range product,Least busiest days,Average orders,3,New customer,4.972414,Low spender,4.972414,9.0
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,both,Mid-range product,Least busiest days,Average orders,3,New customer,4.972414,Low spender,4.972414,9.0

In [24]:
ords_prods_merge.loc[ords_prods_merge['median_days'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [25]:
ords_prods_merge.loc[
    (ords_prods_merge['median_days'] > 10) & (ords_prods_merge['median_days'] <= 20), 
    'order_frequency_flag'
] = 'Regular customer'

In [26]:
ords_prods_merge.loc[ords_prods_merge['median_days'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [30]:
ords_prods_merge.head(5)

,product_id,product_name,aisle_id,department_id,prices,order_id,user_id,order_number,orders_day_of_week,hour_of_the_day_for_order,...,price_range_loc,busiest_days,busiest_period_of_day,max_order,loyalty_flag,avg_price_x,spending_flag,avg_price_y,median_days,order_frequency_flag
0,1,Chocolate Sandwich Cookies,61,19,5.8,3139998,138,28,6,11,...,Mid-range product,Regularly busy,Most orders,32,Regular customer,6.935811,Low spender,6.935811,8.0,Frequent customer
1,1,Chocolate Sandwich Cookies,61,19,5.8,1977647,138,30,6,17,...,Mid-range product,Regularly busy,Average orders,32,Regular customer,6.935811,Low spender,6.935811,8.0,Frequent customer
2,1,Chocolate Sandwich Cookies,61,19,5.8,389851,709,2,0,21,...,Mid-range product,Busiest days,Average orders,5,New customer,7.930208,Low spender,7.930208,8.0,Frequent customer
3,1,Chocolate Sandwich Cookies,61,19,5.8,652770,764,1,3,13,...,Mid-range product,Least busiest days,Average orders,3,New customer,4.972414,Low spender,4.972414,9.0,Frequent customer
4,1,Chocolate Sandwich Cookies,61,19,5.8,1813452,764,3,4,17,...,Mid-range product,Least busiest days,Average orders,3,New customer,4.972414,Low spender,4.972414,9.0,Frequent customer

In [29]:
#checking how many there is of 
ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

order_frequency_flag
Frequent customer        21559853
Regular customer          7208564
Non-frequent customer     3636437
NaN                             5
Name: count, dtype: int64

I assume these NaN are people who only ordered once

In [31]:
#exporting new df as ords-prods_merge_4.8.1
ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge_4.8.1.pkl'))

In [34]:
ords_prods_merge.head

<bound method NDFrame.head of           product_id                product_name  aisle_id  department_id  \
0                  1  Chocolate Sandwich Cookies        61             19
1                  1  Chocolate Sandwich Cookies        61             19
2                  1  Chocolate Sandwich Cookies        61             19
3                  1  Chocolate Sandwich Cookies        61             19
4                  1  Chocolate Sandwich Cookies        61             19
...              ...                         ...       ...            ...
32404854       49688      Fresh Foaming Cleanser        73             11
32404855       49688      Fresh Foaming Cleanser        73             11
32404856       49688      Fresh Foaming Cleanser        73             11
32404857       49688      Fresh Foaming Cleanser        73             11
32404858       49688      Fresh Foaming Cleanser        73             11

          prices  order_id  user_id  order_number  orders_day_of_week  \
0            5.8   3139998      138            28                   6
1            5.8   1977647      138            30                   6
2            5.8    389851      709             2                   0
3            5.8    652770      764             1                   3
4            5.8   1813452      764             3                   4
...          ...       ...      ...           ...                 ...
32404854    13.5   1788356   200215             2                   0
32404855    13.5   3401313   200377             1                   4
32404856    13.5    809510   200873             5                   3
32404857    13.5   2359893   200873             9                   3
32404858    13.5   2385091   205926            11                   1

          hour_of_the_day_for_order  ...    price_range_loc  \
0                                11  ...  Mid-range product
1                                17  ...  Mid-range product
2                                21  ...  Mid-range product
3                                13  ...  Mid-range product
4                                17  ...  Mid-range product
...                             ...  ...                ...
32404854                          9  ...  Mid-range product
32404855                         11  ...  Mid-range product
32404856                          8  ...  Mid-range product
32404857                         15  ...  Mid-range product
32404858                         15  ...  Mid-range product

                busiest_days  busiest_period_of_day max_order  \
0             Regularly busy            Most orders        32
1             Regularly busy         Average orders        32
2               Busiest days         Average orders         5
3         Least busiest days         Average orders         3
4         Least busiest days         Average orders         3
...                      ...                    ...       ...
32404854        Busiest days         Average orders         6
32404855  Least busiest days            Most orders         4
32404856  Least busiest days         Average orders        20
32404857  Least busiest days            Most orders        20
32404858        Busiest days            Most orders        11

              loyalty_flag avg_price_x spending_flag  avg_price_y median_days  \
0         Regular customer    6.935811   Low spender     6.935811         8.0
1         Regular customer    6.935811   Low spender     6.935811         8.0
2             New customer    7.930208   Low spender     7.930208         8.0
3             New customer    4.972414   Low spender     4.972414         9.0
4             New customer    4.972414   Low spender     4.972414         9.0
...                    ...         ...           ...          ...         ...
32404854      New customer    8.220313   Low spender     8.220313         7.0
32404855      New customer    7.364516   Low spender     7.364516        30.0
32404856  Regular customer    8.500344   Low spender     8.500344         6.0
32404857  Regular customer    8.500344   Low spender     8.500344         6.0
32404858  Regular customer    8.133333   Low spender     8.133333         6.0

           order_frequency_flag
0             Frequent customer
1             Frequent customer
2             Frequent customer
3             Frequent customer
4             Frequent customer
...                         ...
32404854      Frequent customer
32404855  Non-frequent customer
32404856      Frequent customer
32404857      Frequent customer
32404858      Frequent customer

[32404859 rows x 24 columns]>